@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
:root {
--md-text-font: Inter; 
}
body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}
/* Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif; */


[data-md-color-primary=black] {
    --md-footer-bg-color:        rgba(0,0,0,.95);
    --md-footer-bg-color--dark: #000000;
  }

.md-content {
    padding-bottom: 3rem;
}
/* release notes labels */
code.label-new {
    color: #ff6e42;
}
code.label-improvements {
    color: #02a6f2;
}
code.label-fixed {
    color: #8bc34b;
}

/* Changes to the logo */
.md-header__button.md-logo {
    padding: 0;
}
.md-header__button.md-logo :-webkit-any(img,svg) {
    height: 1.6rem;
}

/* styles for documentation */
.parameter {
    display: flex;
    justify-content:space-between;
    margin-bottom: 32px
}
.parameter__info {
    margin-right: 32px;
    flex: 1 1 0;
}
.parameter__video {
    flex: 1 1 0;
}
.parameter__video video {
    width: 100%
}

@media only screen and (max-width: 960px) {
    .parameter {
        max-width: 396px;
        display: block;
    }
    .parameter__video {
        margin-top: 8px;
    }
}

/* redefining heading styles */
.md-typeset h1 {
    font-size: 60px;
    color: #000000;
}
.md-typeset h2 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 64px;
    margin-bottom: 64px;
}
.md-typeset h3 {
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 32px;
}
@media only screen and (max-width: 960px) {
    .md-typeset h1 {
        font-size: 42px;
    }
}

/* spacing utility classes */
.mb-64 {
    margin-bottom: 64px;
}

/* Add smooth scrolling */
html {
    scroll-behavior: smooth;
}

